:root {
  --header-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  color: teal;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*---------------HEADER--------------------------------*/

.header {
  background-color: white;
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
}

.header-link:hover,
.header-link:focus,
.header-contacts a:hover {
  color: var(--accent-color);
  /* border-bottom:#2196f3 solid 4px; */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-item {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
}

.header-contacts a {
  transition: 0.5s;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.5s;
  padding: 32px 0;
}

.header-contact-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #757575;
  transition: 0.5s;
}

.header-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: flex-end;
  display: flex;
  margin-left: 50px;
}

.header-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: flex-end;
  display: flex;
  margin-left: 50px;
}

.header-mail:hover svg,
.header-tel:hover svg {
  fill: #2196f3;
}

.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
}

/*-------------HERO---------------------------*/

.hero {
  background: url("../images/Img.png"), rgba(47, 48, 58, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
}

.hero-container {
  width: 696px;
  margin: 0 auto;
}

.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-btn {
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*-------------ABOUT---------------------------*/

.about {
  padding-top: 94px;
}

.about-svg-wrapper {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about-after-title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.about-item {
  width: 25%;
}

.about-svg-wrapper {
  margin-bottom: 30px;
}

/*-------------OUR-WORK---------------------------*/

.our-work {
  text-align: center;
}

.our-work-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.work-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/*-------------TEAM---------------------------*/

.team {
  background: #f5f4fa;
  text-align: center;
}

.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  /* gap: 30px; */
  margin-left: -30px;
}

.team-list-item {
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  width: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.team-description {
  padding: 30px 0;
  text-align: center;
}

.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-role {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.team-soc-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

.team-soc-link:hover {
  background-color: #2196f3;
}

.team-soc-link:hover .team-soc-icon {
  fill: #ffffff;
}

/*-------------CLIENTS---------------------------*/

.clients-title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.client-card + .client-card {
  margin-left: 30px;
}

.client-wrapper {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.client-logo path {
  fill: #afb1b8;
  transition: 0.5s;
}

.client-link:hover .client-wrapper {
  border: 1px solid #2196f3;
}

.client-link:hover .client-logo path {
  fill: #2196f3;
}

/*-------------FOOTER---------------------------*/

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.contact-list {
  margin-top: 20px;
}

.contact-list-item,
.contact-list-item a {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.5s;
  margin-bottom: 9px;
}

.contact-list-item,
.contact-list-item a:hover {
  color: #ffffff;
}

.contact-list-item:first-child {
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
  gap: 70px;
}

.footer-soc-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.footer-soc-icon {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  transition: 0.5s;
}

.footer-soc-link:hover {
  background-color: #2196f3;
}

.footer-soc-link:hover .footer-soc-icon {
  fill: #ffffff;
}

.footer-label {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-input {
  margin-top: 20px;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: #ffffff;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.footer-submit {
  padding: 10px 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

/*-------------PAGE 2---------------------------*/

/*-------------BTN-LIST---------------------------*/

.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.btn-list-item {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}

.btn-list-item:hover {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-------------PORTFOLIO---------------------------*/

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 30px; */
  margin-left: -30px;
}

.portfolio-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: 0.5s;
}

.portfolio-cover-wrap {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.cover-text {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: 0.5s;
}

.portfolio-list-item:hover .cover-text {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-list-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-description {
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  top: -3px;
  padding: 20px 24px;
}

.portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}

/*-------------MODAL---------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/*-------------FORM---------------------------*/

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal-close {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg path {
  fill: #2196f3;
}

.name {
  background: url("../images/form-icons/person-black-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
  padding-left: 42px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
  background: url("../images/form-icons/phone-black-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
  padding-left: 42px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail {
  background: url("../images/form-icons/email-black-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
  padding-left: 42px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.comment {
  height: 120px;
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  padding: 12px 16px;
  resize: none;
}

.name:focus,
.tel:focus,
.mail:focus,
.comment:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.name:focus {
  background: url("../images/form-icons/person-blue-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
}

.tel:focus {
  background: url("../images/form-icons/phone-blue-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
}

.mail:focus {
  background: url("../images/form-icons/email-blue-18dp\ 1.svg") no-repeat
    scroll 15px 11px;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.accept-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 20px;
}

.terms-link {
  color: #2196f3;
  transition: 0.5s;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox + label {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #000000;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s;
  border-radius: 2px;
}

.checkbox:checked + label::before {
  transition: 0.5s;
  background-image: url("../images/form-icons/icon-check.svg");
  border: none;
}

.submit {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.submit-wrapper {
  text-align: center;
  margin-top: 30px;
}
